div,
span {
  font-size: 13pt;
  font-weight: normal;
  color: black;
  font-family: system-ui;
}

.spots-list {
  display: grid;
}

@media (min-width:800px) {
  .spots-list {
    grid-template-columns: repeat(4, 1fr);
  }
  .landing-page{
    padding:60px 100px
  }
}

@media (max-width: 800px) {
  .spots-list {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (max-width: 500px) {
  .spots-list {
    grid-template-columns: 1fr;
  }
}

.landing-spot-list img {
  width: 350px;
  height: 280px;
  border-radius: 40px;
}

.landing-spot-list {
  cursor: pointer;
  width: 90%;
  align-items: center;
  margin: auto;
  padding:15px;
}

.flex-city {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.price-night .dollarsign {
  font-weight: bold;
  text-align: left;
}

.rating {
  display: flex;
  align-items: center;
}

.bold {
  font-weight: bold;

}


.description {
  padding: 10px 20px;
  width: 90%;
}

