.delete-review-button button{
    color:white;
    background-color: #FF5A5F;
    box-shadow: 2px 2px 2px black;
    border: 2px solid black;
    cursor: pointer;
    width: 150px;
    height: auto;
    padding: 5px 20px;
}
.reviews-container{
    padding:0px 30px;
    width: 100%;
}
.review-item{
    margin: 10px;
    padding:3px
}
.review-name{
    margin:10px 0px;
    font-size: 18px;
    font-weight: 500;
}
.review-date{
    color: gray;
    font-size: 14px;
    font-weight: 100px;
}
.this-is-review{
    margin:10px 0px;
    color: black;
}
.no-review{
    margin:10px 0px;
    color: black;
    padding:3px
}
