
.flex{
    display:flex;
    justify-content: space-between;
    margin:7px
}
.button-link{
    text-decoration: none;
    color:white;
}

.spot-actions button{
    background-color: darkgray;
    box-shadow: 2px 2px 2px black;
    margin-right: 10px;
    margin-top: 10px;
    color:white;
}
.manage,.create-button{
    margin-left:50px
}
.create-button{
    background-color: darkgray;
    box-shadow: 2px 2px 2px black

}

@media (min-width: 800px) {
.manage-spot{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin:40px
}
}
@media (max-width: 800px) {
    .manage-spot{
        grid-template-columns: repeat(2, 1fr)
    }
}
@media (max-width: 500px) {
    .manage-spot {
      grid-template-columns: 1fr;
    }
  }
.spot-tile img{
        width:350px;
        height: 280px;
        column-gap: 5px;
        padding: 10px;
        border-radius: 40px;
}
.price{
    margin: 7px;
}
.spot-tile{
    margin-bottom:20px
}
.deletespot-button{
    cursor: pointer;
}
