.profile-dropdown{
    display:flex;
    position: absolute;
    padding: 10px;
    cursor: pointer;
    right:50px;
    margin-top:4px;
}
.profile-dropdown.hidden {
    display: none;
  }

  .button{
    margin-top: 30px;
    cursor: pointer;
    font-size:20px;
    border-radius:80px;
    width: 60px;
    height: 30px;
    color:black;
    background-color:white
  }
.log{
  position: absolute;
}
.managelink{
  text-decoration: none;
  color:black
}
.logoutbutton{
  text-decoration: none;
  color:black
}
.userlogin>div{
font-size:15px;
}
.userlogin>button{
  font-size: 15px;
  margin-top: 5px;
  border-radius:80px;
}
.userlogin{
  border:2px solid;
  text-align: center;
}

.log{
  border:2px solid;
  width: 120px;
  height: 40px;
  right:10px;
}
.logoutbutton{
  text-align: center;
  color: white;
}
.logoutbutton button{
  border-radius:80px;
  height:25px;
}
.line{
  height: 2px;
  background-color: black;
  width: 100%;
  margin: 2px 0px;
}
