h1{
    text-align: center;

}
.errors{
    color:red;
    justify-content: center;
    text-align: center;
}
form{
    display:flex;
    flex-direction: column;
    padding:10px 10px;
    width:300px;
    text-align: center;
}

label{
  text-align: center;
}
.login button{
    display: block;
    border: 3px solid black;
    width: 80%;
    height: 30px;
    text-align: center;
    margin: 0 auto;
    background-color: #FF5A5F;
    color:white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin-bottom:5px;
}

.demolink{
    font-size: 15px;
    color:darkblue;

}
input[type="text"] {
    border: 2px solid black;
    width:80%;
    height: auto;
  }
  input[type="password"] {
    border: 2px solid black;
    width:80%;
    height: auto;
  }
